<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
	<!-- Meta Stuff for the Browser to render correctly -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Other Meta Stuff for seo/kicks -->
	<meta name="description" content="">

	<!-- Title: Will change based on the actual slogan or whatever -->
	<title><%- title %></title>

	<!-- Mandatory favicon.ico link -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<!-- External fonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i&subset=devanagari" rel="stylesheet" type="text/css" media="all">
	<link href="https://fonts.googleapis.com/css?family=Keania+One" rel="stylesheet" type="text/css" media="all">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" media="all">

	<!-- Application styles -->
	<link integrity="" rel="stylesheet" href="/css/vendor.css">
	<link integrity="" rel="stylesheet" href="/css/twyr-webapp-server.css">

	<!-- Miscellaneous client-side data -->
	<script type="application/javascript">
		window.developmentMode = <%= developmentMode %>;
	</script>
</head>
<body class="grey">
	<!-- Ember stuff - imported vendor.js from the ember-addon project... -->
	<script src="/js/vendor.js"></script>

	<!-- Ember template compiler - for dynamic compilation of templates, whenever we require it... -->
	<script type="application/javascript" src="/ember-template-compiler.js"></script>

	<!-- Setup global stuff, DEBUG flags and global error handlers -->
	<script type="application/javascript">
	$.ajaxSetup({
		'cache': <%= !developmentMode %>,
		'xhrFields': {
			'withCredentials': true
		}
	});

	Ember.ENV.RAISE_ON_DEPRECATION = <%= developmentMode %>;
	Ember.ENV.LOG_STACKTRACE_ON_DEPRECATION = <%= developmentMode %>;
	Ember.run.backburner.DEBUG = <%= developmentMode %>;
	</script>

	<!-- Primus - realtime websocket connection stuff -->
	<script type="application/javascript" src="/websockets/primus.js"></script>

	<!-- App.js - The Ember App Definitions -->
	<script src="/js/twyr-webapp-server.js"></script>

	<!-- Setup the ember routes, and start the App -->
	<script type="application/javascript">
		define("twyr-webapp-server/router", ["exports", "twyr-webapp-server/config/environment"], function (_exports, _environment) {
			"use strict";

			Object.defineProperty(_exports, "__esModule", {
				value: true
			});

			_exports.default = void 0;
			const Router = Ember.Router.extend({
				location: _environment.default.locationType,
				rootURL: _environment.default.rootURL
			});

			Router.map(function () {
				<%- RouteMap %>

				this.route("freestyle", { "path": "/freestyle" });
			});

			var _default = Router;
			_exports.default = _default;
		});

		window.TwyrApp = require('twyr-webapp-server/app')['default'].create({
			"LOG_RESOLVER": <%= developmentMode %>,

			"LOG_TRANSITIONS": <%= developmentMode %>,
			"LOG_TRANSITIONS_INTERNAL": <%= developmentMode %>,

			"LOG_ACTIVE_GENERATION": <%= developmentMode %>,
			"LOG_VIEW_LOOKUPS": <%= developmentMode %>,

			"LOG_BINDINGS": <%= developmentMode %>,

			"name": "twyr-webapp-server",
			"version": "3.0.1"
		});
	</script>
</body>
</html>
